$color-primary: #6e0340;
$color-secondary: #2d80c0;
$color-gray: #ececec;
$color-dark: #1C1C1E;
$color-white: #ffffff;
$color-success: #38bd2c;
$color-featured: #FFA920;

$color-light-gray: #fbfbfb;
$color-light-primary: #fcf5f9;
$color-light-secondary: #edf9ff;

$root-spacing: 14rem;
$header-height: 9rem;